.DS_Store
.git*
.idea

/node_modules

#dist/**/*.js.map
dist/index.js
dist/App.js
dist/App.d.ts
/.storybook
public
src
/build
webpack.config.js
tsconfig.json
.eslintrc
.prettierc.js
.babelrc
.prettierrc.js
/src